:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --font-color: #212121;
  --secondary-color: #ffffff;
  --logo-header-color: #000000;
  --logo-part-color: #2196f3;
  --text-color: #757575;
  --hero-footer-backgroud-color: #2f303a;
  --button-background-color: #188ce8;
  --portfolio-button-color: #f5f4fa;
  --mail-link-color: rgba(255, 255, 255, 0.6);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  color: var(--font-color);
  font-weight: 400;
  font-size: 14px;
}

/*========= HEADER ========*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-header-color);
}
.logo-part {
  color: var(--logo-part-color);
}
.menu-link,
.contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.menu-link {
  color: inherit;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.menu-link.current {
  color: var(--accent-color);
}
.contacts-link {
  color: var(--text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/*========= END HEADER ========*/

/*========= HERO ========*/
.hero {
  background-color: var(--hero-footer-backgroud-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.modal-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--button-background-color);
}
button {
  font-family: inherit;
}
/*========= END HERO ========*/

/*========= ADVANTAGES ========*/
.advantages-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*========= END ADVANTAGES ========*/

/*========= GALLERY ========*/
.gallery-title,
.team-title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/*========= END GALLERY ========*/

/*========= TEAM ========*/
.team-title,
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-title {
  font-weight: 500;
}
.team-text {
  color: var(--text-color);
}
/*========= END TEAM ========*/

/*========= PORTFOLIO ========*/
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-button-color);
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}
.portfolio-jobs-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--font-color);
}
.portfolio-jobs-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*========= END PORTFOLIO ========*/

/*========= FOOTER ========*/
.footer {
  background-color: var(--hero-footer-backgroud-color);
}
.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.address {
  font-style: normal;
  font-size: inherit;
}
.address-link,
.mail-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-link {
  color: var(--secondary-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.mail-link {
  color: var(--mail-link-color);
}
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}
/*========= END FOOTER ========*/
